@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
} */

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
      display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.TodoWrapper {
/* background: #fff; */
    background: #282845;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h1 {
  text-align: center;
  color: #0657b9;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button+button {
  margin-left: 10px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  background: #f9f9f9;
}

.Todo span {
  cursor: pointer;
}

.Todo button {
  margin-left: 10px;
}

.Todo button:first-of-type {
  background-color: #28a745;
}

.Todo button:first-of-type:hover {
  background-color: #218838;
}

.Todo button:last-of-type {
  background-color: #dc3545;
}

.Todo button:last-of-type:hover {
  background-color: #c82333;
}
.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.action-buttons button {
  flex: 1;
  margin-right: 10px;
}

.action-buttons button:last-of-type {
  margin-right: 0;
}